.big_red_button {
    height: 100px;
    width: 200px;
    background-color: lightcoral;
    border-radius: 20px;
    border-width: 10px;
    border-color: #900000;
    margin: auto;
    font-size: larger;
}

.container {
    border-color: black;
    border-width: 10px;
    display: flex;
    height: 600px;
}

.tooltip {
    word-break: break-all;
    /* height: 100px; */
    width: 300px;
    padding: 10px;
    background-color: lightgray;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 20px;
    position: absolute;
}